<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Panel</title>
  <!-- base:css -->
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />

  <style>
   .icon-with-title {
  display: flex;
  align-items: center; /* Align items vertically */
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 50%;
  margin-right: 20px; /* Add margin between icon and title */
}

.circle-icon i {
  font-size: 30px;
  color: green;
}
.hover-up{
  transition: transform 0.3s ease-in-out;
}


.hover-up:hover{
  transform: translateY(-10px);
}

.table td img {
  border-radius: 0%;
  width: 6rem;
  height: 6rem;
}
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href=""> <img src="/users/assets/images/chiccart-high-resolution.png" alt="ChicCart Logo"
            width="105" height="25"> </a>
        <!-- <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a> -->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search" aria-label="search"
                aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-lg-flex d-none">
            <!-- <button type="button" class="btn btn-info font-weight-bold">+ Create New</button> -->
            <a href="/admin/dashboard/salesReport" class="btn text-white  btn-primary ">Sales Report</a>

          </li>

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
              id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          <li class="nav-item dropdown mr-4 d-lg-flex d-none">
            <a class="nav-link count-indicatord-flex align-item s-center justify-content-center" href="#">
              <i class="icon-grid"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="images/faces/admin.webp">
          </div>
          <div class="user-name">
            Bahir Abdulla
          </div>
          <div class="user-designation">
            Manager
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/customer">
              <i class="icon-command menu-icon"></i>
              <span class="menu-title">Customers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <i class="icon-disc menu-icon"></i>
              <span class="menu-title">Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Orders</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/offer">
              <i class="icon-help menu-icon"></i>
              <span class="menu-title">Offer</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
              <i class="icon-help menu-icon"></i>
              <span class="menu-title">Coupons</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Logout</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
            <!-- <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
               
              </ul>
            </div> -->
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">


          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Hi, welcome back!</h4>
              <p class="font-weight-normal mb-2 text-muted">
                <%= new Date().toLocaleDateString('en-Us',{year:'numeric',month:'long',day:'2-digit'}) %>
              </p>
            </div>
          </div>



          <div class="row">
            <div class="col-xl-3 col-sm-3 grid-margin stretch-card">
              <div class="card hover-up"  style="border-radius: 10px;">
                <div class="card-body">
                  <div class="icon-with-title">
                    <div class="circle-icon">
                      <i class="bi bi-coin" style="color: green; font-size: 28px;"></i>
                    </div>
                    <h4 class="card-title">Total Revenue</h4>
                  </div><br>
                  <h4 class="align-content-end ">₹<%= revenue %></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-3 grid-margin stretch-card">
              <div class="card  hover-up" style="border-radius: 10px;">
                <div class="card-body">
                  
                  <div class="icon-with-title">
                  <div class="circle-icon">
                  <i class="bi bi-truck"  style="color: green; font-size: 28px;"></i>
                </div>
                  <h4 class="card-title">Total Orders</h4>
                </div><br>
                <h4 class="align-content-end "><%= salesCount %></h4>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-3 grid-margin stretch-card">
              <div class="card hover-up" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="icon-with-title">
                  <div class="circle-icon">
                  <i class="bi bi-qr-code" style="color: green; font-size: 28px;"></i>
                </div>
                  <h4 class="card-title mb-3">Daily revenue</h4>
                </div><br>
                <h4 class="align-content-end ">₹<%= dailyRevenue %></h4>
                </div>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-sm-3 grid-margin stretch-card ">
              <div class="card hover-up" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="icon-with-title">
                  <div class="circle-icon">
                    <i class="bi bi-basket2-fill" style="color: green; font-size: 28px;"></i>
                  </div>
                  <h4 class="card-title mb-3">Monthly earning</h4>
                </div><br>
                <h4 class="align-content-end ">₹0</h4>
                </div>
              </div>
            </div> -->
          </div>






          <div class="col-xl-12 d-flex grid-margin stretch-card">
            <div class="card">
              <div class="card-body ">
                
                <select id="graphSelector" class="form-select  btn btn-outline-danger" onchange="loadGraph()" aria-label="Default select example">
                  <!-- <option selected>Open this select menu</option> -->
                 
                  
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
              
              
                <div>
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>
          </div>


           

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Top 10 Products</h4>
                
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      
                      <tr>
                        <th>
                          No
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Image
                        </th>
                        
                        <th>
                          Sold
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% top10Products.forEach((product,index)=>{ %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <%= product.name %>
                        </td>
                        <td >
                          <img src="/uploads/<%= product.image[0] %>" alt="image"/>
                        </td>
                       
                        <td>
                          <%= product.count %>
                        </td>
                      </tr>  
                      <% }) %>                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- top 10 categories -->
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Top 10 Categories</h4>
                
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          No
                        </th>
                        <th>
                          Name
                        </th>
                        
                        <th>
                          Sold
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% top10Categories.forEach((category, index) => { %>
                      <tr>
                        <td>
                          <%= index + 1 %>
                        </td>
                        <td>
                          <%= category.categoryName %>
                        </td>
                        <td>
                          <%= category.count %>
                        </td>
                      </tr>    
                      <% }) %>               
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <!-- <span href="/admin/dashboard/salesReport" class="btn btn-primary  d-block  text-sm-left d-sm-inline-block">Sales Report</span> -->
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span> -->
          </div>

        </footer>

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  

  <script>

    document.addEventListener('DOMContentLoaded',function(){
      loadGraph()
    })

    async function loadGraph() {
        const selector = document.getElementById('graphSelector');
        const selectedValue = selector.value;
        console.log(selectedValue, 'selected value in admin dashboard page');

        try {
            const response = await fetch(`/admin/dashboard/graph/value?value=${selectedValue}`);
            const data = await response.json();
            console.log(data, 'data in dashboard admin side');

            let labels = [];
            let revenueData = [];
            let salesCountData = [];

            
             if (selectedValue === 'monthly') {
                // labels = Array.from({ length: 12 }, (_, i) => new Date(0, i).toLocaleString('default', { month: 'short' }));
                labels = data.map(item => new Date(2000, item.month - 1).toLocaleString('default', { month: 'short' }));
                revenueData = data.map(item => item.monthlyTotalAmount);
                console.log(revenueData,'renvenue data in monthly ');
                salesCountData = data.map(item => item.monthlyOrderCount);
                console.log(salesCountData,'salescount data in monthly');
            } else if (selectedValue === 'yearly') {
                labels = data.map(item => item._id);
                revenueData = data.map(item => item.yearlyTotalAmount);
                console.log(revenueData,'renvenue data in yearly ');
                salesCountData = data.map(item => item.yearlyOrderCount);
                console.log(salesCountData,'salescount data in yearly');
            }

            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Revenue',
                        data: revenueData,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        yAxisID:'revenue-y-axis',
                        borderWidth: 1
                    }, {
                        label: 'Sales Count',
                        data: salesCountData,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        yAxisID:'sales-y-axis',
                        borderWidth: 1
                    }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      id: 'revenue-y-axis',
                      type: 'linear',
                      position: 'left',
                      ticks: {
                          beginAtZero: true,
                          callback: function (value, index, values) {
                              return value.toLocaleString();
                          }
                      },
                      scaleLabel: {
                          display: true,
                          labelString: 'Revenue'
                      }
                    }, {
                      id: 'sales-y-axis',
                      type: 'linear',
                      position: 'right',
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1 
                      },
                      gridLines: {
                          display: false
                      },
                      scaleLabel: {
                          display: true,
                          labelString: 'Sales Count'
                      }
                    }],
                    xAxes: [{
                      scaleLabel: {
                          display: true,
                          // labelString: 'Months/Years'
                          labelString: selectedValue === 'monthly' ? 'Months' : 'Years'
                      }
                    }]
                  }
                }
            });
        } catch (error) {
            console.error('Error loading graph:', error);
        }
    }

   


    
  </script>
  

  <!-- base:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>