<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/users/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/users/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/users/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/users/assets/images/icons/site.html">
    <link rel="mask-icon" href="/users/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/users/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/users/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/users/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">


                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>

                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist
                                            <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <!-- <img src="/users/assets/images/logo.png" alt="Molla Logo" width="105" height="25"> -->
                            <img src="/users/assets/images/logo (1).png" alt="Molla Logo" width="105" height="25">

                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="/shop" class="sf-with-ul">Shop</a>

                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="about.html" class="sf-with-ul">About</a>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="sf-with-ul">Contact</a>
                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="" class="sf-with-ul">Profile</a>

                                    <ul>
                                        <li><a href="/dashboard">My Account</a></li>
                                        <li><a href="elements-typography.html">Wishlist</a></li>
                                        <li><a href="elements-titles.html">Coupon</a></li>

                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a>
                                        </h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a>
                                        </h4>
                                    </li>
                                </ul>

                                <div class="compare-actions">
                                    <a href="#" class="action-link">Clear All</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div>
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/users/assets/images/products/cart/product-1.jpg"
                                                    alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/users/assets/images/products/cart/product-2.jpg"
                                                    alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">₹160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <!-- <div class="page-header text-center" style="background-image: url('/users/assets/images/page-header-bg.jpg')"> -->
            <div class="page-header text-center" style="background-image: url('/users/assets/images/istockphoto.webp')">

                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-cart table-mobile">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% cart.products.forEach((product,index)=>{ %>
                                            <tr id="row<%= index %>">
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="#">
                                                                <img src="/uploads/<%= product.productId.image[0] %>"
                                                                    alt="Product image">
                                                            </a>
                                                        </figure>

                                                        <h3 class="product-title">
                                                            <a href="/singleProduct/<%= product.productId._id %>">
                                                                <%= product.productId.name %>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </td>
                                                <td class="price-col">₹<span id="price_<%= product.productId._id %>">
                                                    <% 
                                                        const pricePerUnit = product.productId.offerApplied ? 
                                                                            (product.productId.price - (product.productId.price * (product.productId.offerApplied / 100))) :
                                                                            product.productId.price;
                                                    %>
                                                    <%= pricePerUnit %>
                                                </span></td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        <input type="number" aria-readonly="false" class="form-control   quantity-input" 
                                                            id="quantity_<%= product.productId._id %>"
                                                            data-productid="<%= product.productId._id %>"
                                                            value="<%= product.quantity %>" min="1"
                                                            max="<%= product.productId.quantity %>" step="1"
                                                            data-decimals="0" onkeydown="return false" required
                                                            onchange="updateTotalPrice(this,'<%= product.productId._id %>')">
                                                    </div>
                                                </td>
                                                <td class="total-col">
                                                    <% const totalPrice = pricePerUnit * product.quantity; %>
                                                    ₹<span class="total-price" id="total_<%= product.productId._id %>">
                                                        <%= totalPrice %>
                                                    </span>
                                                </td>
                                                
                                                <td class="remove-col">
                                                    <button class="btn-remove"
                                                        onclick="removeFromCart('<%= product.productId._id %>','<%=  index%>')">
                                                        <i class="icon-close"></i></button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                                <div class="cart-bottom">
                                    <div class="cart-discount">
                                        <form action="#">
                                            <!-- <div class="input-group">
                                                <input type="text" class="form-control" required
                                                    placeholder="coupon code">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary-2" type="submit"><i
                                                            class="icon-long-arrow-right"></i></button>
                                                </div>
                                            </div> -->
                                        </form>
                                    </div><!-- End .cart-discount -->

                                    <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i
                                            class="icon-refresh"></i></a>
                                </div><!-- End .cart-bottom -->
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary summary-cart">
                                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <tbody>
                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td>₹</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <!-- <tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div>
	                							</td>
	                							<td>₹0.00</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="standart-shipping">Standart:</label>
													</div>
	                							</td>
	                							<td>₹10.00</td>
	                						</tr> -->

                                            <!-- <tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="express-shipping">Express:</label>
													</div>
	                							</td>
	                							<td>₹20.00</td>
	                						</tr> -->

                                            <tr class="text-dark ">
                                                <td>Discount:</td>
                                                <td>₹0</td>
                                            </tr>
                                            <tr class="text-dark ">
                                                <td>Delivery Charges:</td>
                                                <td>₹0</td>
                                            </tr>

                                            <tr class="summary-total">
                                                <td>Total Amount:</td>
                                                <td>₹</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                        CHECKOUT</a>
                                </div><!-- End .summary -->

                                <a href="/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                        SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/users/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/users/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>

                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>


                            </li>
                            <li>
                                <a href="contact.html">Contact</a>


                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="elements-list.html">Profile</a>
                        <ul>
                            <li><a href="/dashboard">My Account</a></li>
                            <li><a href="">Typography</a></li>
                            <li><a href="">Titles</a></li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    <!-- // document.querySelectorAll('.quantity-input').forEach(input => {
        //     input.addEventListener('change', async function() {
        //         const productId = this.dataset.productid;
        //         const quantity = parseInt(this.value);
        //         const price = parseFloat(document.querySelector(`#total_${productId}`).innerText);
        //         const totalPrice = price * quantity;
        //         document.querySelector(`#total_${productId}`).innerText = totalPrice.toFixed(2);
    
        //         // Update cart on server
        //         const response = await fetch(`/cart/update/${productId}`, {
        //             method: 'POST',
        //             headers: {
        //                 'Content-Type': 'application/json'
        //             },
        //             body: JSON.stringify({ quantity })
        //         });
        //         if (!response.ok) {
        //             console.error('Failed to update cart');
        //         }
        //     });
        // }); -->
    <script>
        function removeFromCart(productId, i) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/cart/remove/${productId}`, {
                        method: 'DELETE'
                    })
                        .then(res => res.json())
                        .then((res) => {
                            // if (!res) {
                            //     throw new Error('Failed to remove ');
                            // }
                            const productRow = document.getElementById(`row${i}`);
                            const pricePerUnit = parseFloat($('#price_' + productId).text().replace('₹', ''))
                            const quantity = parseInt($('#quantity_' + productId).val())
                            const totalPrice = pricePerUnit * quantity;
                            const subtotalElement = $('.summary-subtotal td:last-child');
                            const subtotal = parseFloat(subtotalElement.text().replace('₹', ''))
                            const newSubtotal = subtotal - totalPrice
                            productRow.remove();
                            console.log('Item removed successfully');
                            Swal.fire(
                                'Deleted!',
                                'Your item has been removed from cart.',
                                'success'
                            );
                            subtotalElement.text('₹'+newSubtotal.toFixed(2))
                            calculateTotal()
                          
                        })

                        .catch(error => {
                            console.error('Error removing from cart:', error.message);
                            Swal.fire(
                                'Error!',
                                'Failed to remove item from cart. Please try again later.',
                                'error'
                            );
                        });
                }
            });
        }



     



        function updateCartQuantity(productId) {
            const quantity = $('#quantity_' + productId).val();
            const maxQuantity = parseInt($('#quantity_' + productId).attr('max')) || 0;
            console.log(maxQuantity,'maxquantity')
            const pricePerUnit = parseFloat($('#price_' + productId).text().replace('₹', ''))
            const totalPrice = pricePerUnit * quantity

          
      
            $.ajax({
                type: 'POST',
                url: '/updateCartQuantity/' + productId,
                data: { quantity: quantity, totalPrice },
                success: function (response) {
                    if (response.success) {
                        console.log('its success in update cart quantity');
                    } else {
                        console.log('its failed in update cart quantity');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error upadating cart quantity');
                }
            })
         
        }


        function updateTotalPrice(input, productId) {
            const quantity = input.value
            console.log(quantity);
            const pricePerUnit = parseFloat($('#price_' + productId).text().replace('₹', ''))
            // / parseInt($('#quantity_'+productId).val())
            console.log(pricePerUnit);
            const totalPrice = pricePerUnit * quantity
            console.log(totalPrice);
            $('#total_' + productId).text('₹' + totalPrice.toFixed(2));
            updateCartQuantity(productId, quantity)
        }


        function calculateTotal() {
            let subtotal = 0
            $('.total-price').each(function () {
                subtotal += parseFloat($(this).text().replace('₹', ''))
            })
            let discount = 0
            let deliveryCharges = subtotal < 500 ? 50 : 0
            let totalAmount = subtotal - discount + deliveryCharges

            $('.summary-subtotal td:last-child').text('₹' + subtotal.toFixed(2))
            $('.summary-discount td:last-child').text('₹' + discount.toFixed(2))
            $('.summary-delivery td:last-child').text('₹' + deliveryCharges.toFixed(2))
            $('.summary-total td:last-child').text('₹' + totalAmount.toFixed(2))
        }

        calculateTotal();

        $('.quantity-input').on('change', function () {
            updateTotalPrice(this);
            calculateTotal()
        })

        //         async function updateTotalPrice(input) {
        //     const productId = input.getAttribute('data-productid');
        //     const quantity = input.value;

        //     // Calculate the total price locally
        //     const pricePerUnitElement = document.getElementById(`price_${productId}`);
        //     const pricePerUnit = parseFloat(pricePerUnitElement.innerText.replace('₹', ''));
        //     const totalPrice = pricePerUnit * quantity;

        //     // Update the total price displayed
        //     const totalPriceElement = document.getElementById(`total_${productId}`);
        //     totalPriceElement.innerText = `₹${totalPrice.toFixed(2)}`;

        //     // Recalculate the total amount
        //     calculateTotalAmount();
        // }



        // async function updateTotalPrice(input) {
        //     const productId = input.getAttribute('data-productid')
        //     const quantity = input.value

        //     try {
        //         const response = await fetch(`/updateTotalPrice/${productId}`, {
        //             method: 'POST',
        //             headers: {
        //                 'Content-Type': 'application/json'
        //             },
        //             body: JSON.stringify({ quantity })
        //         })
        //         // .then(res=>res.json())
        //         console.log('its here');
        //         if (response.ok) {
        //             const totalPrice = await response.text()
        //             console.log(totalPrice);
        //             const totalPriceElement = document.getElementById(`total_${productId}`);
        //             totalPriceElement.innerText = `₹${totalPrice}`;

        //             // calculateSubtotalAndTotal()
        //             calculateTotalAmount();
        //         } else {
        //             console.error('Failed to update total price');
        //         }
        //     } catch (error) {
        //         console.error('Error updating total price:', error)
        //     }
        // }


        // function calculateTotalAmount() {
        //     let subtotal = 0;
        //     document.querySelectorAll('.total-price').forEach(priceElement => {
        //         const totalPriceText = priceElement.innerText.replace('₹', '');
        //         const totalPrice = parseFloat(totalPriceText);
        //         subtotal += totalPrice;
        //     });

        //     let deliveryCharges = subtotal < 500 ? 50 : 0;
        //     const totalAmount = subtotal + deliveryCharges;

        //     document.getElementById('subtotal').innerText = `₹${subtotal.toFixed(2)}`;
        //     document.getElementById('deliveryCharges').innerText = `₹${deliveryCharges.toFixed(2)}`;
        //     document.getElementById('totalAmount').innerText = `₹${totalAmount.toFixed(2)}`;
        // }
        // calculateTotalAmount();
        ////////////////////////////////////
        // document.querySelectorAll('.quantity-input').forEach(input => {
        //     const productId = input.getAttribute('data-productid');
        //     const quantity = input.value;
        //     const priceElement = document.getElementById(`price_${productId}`);

        //     if (priceElement) {
        //         const productPrice = parseFloat(priceElement.innerText.replace('₹', ''));
        //         subtotal += quantity * productPrice;
        //     }
        // });
    </script>

    <!-- Plugins JS File -->
    <script src="/users/assets/js/jquery.min.js"></script>
    <script src="/users/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/users/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/users/assets/js/jquery.waypoints.min.js"></script>
    <script src="/users/assets/js/superfish.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <script src="/users/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/users/assets/js/main.js"></script>
</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

</html>