<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/users/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/users/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/users/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/users/assets/images/icons/site.html">
    <link rel="mask-icon" href="/users/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/users/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/users/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/users/assets/css/style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>



    <style>
        .order-details {
            margin-bottom: 20px;
        }

        .product {
            display: flex;
        }

        .product-image {
            margin-right: 20px;

        }

        .product-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .product-details {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .product-details p {
            margin: 5px 0;
        }
    </style>

</head>

<body>

    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">


                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>

                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist
                                            <span>(3)</span></a></li>

                                    <li><a href="/signIn" ><i class="icon-user"></i>Login</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/home" class="logo">
                            <img src="/users/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="/shop" class="sf-with-ul">Shop</a>


                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <li>
                                            <a href="/contact" >Contact</a>
                                        </li>
                                        
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="*">Error 404</a></li>
                                        <li><a href="#">Coming Soon</a></li>
                                    </ul>
                                </li>

                                <li class="active ">
                                    <a href="/dashboard" class="sf-with-ul">Profile</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>

                            
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/users/assets/images/istockphoto.webp')">

                <div class="container">
                    <h1 class="page-title">My Account</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                        <li class="breadcrumb-item "><a href="/dashboard">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>

                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">

                        
                       


                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item"  >
                                        <a class="nav-link" >Dashboard</a>
                                    </li>
                                    <li class="nav-item" >
                                        <a class="nav-link active" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="true">Orders</a>
                                    </li>

                                    <li class="nav-item" disabled >
                                        <a class="nav-link" >Adresses</a>
                                    </li>
                                    <li class="nav-item" disabled >
                                        <a class="nav-link" >Wallet</a>
                                    </li>
                                    <li class="nav-item" disabled >
                                        <a class="nav-link">Account
                                            Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" >Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                               
                                        <div class="tab-content">
                                            <div class="tab-pane fade  " id="tab-dashboard"   role="tabpanel"
                                                aria-labelledby="tab-dashboard-link">

                                                
                                            </div><!-- .End .tab-pane -->

                                            <div class="tab-pane fade show  active " href="#tab-orders" id="tab-orders" role="tabpanel"
                                                aria-labelledby="tab-orders-link">
                                                <h5 style="color: #c96;">Order Details</h5>
                                                <div class="card ">
                                                    <a href="/dashboard" class="btn btn-primary rounded ">Back</a>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            
                                                            <div class="col-md-4">
                                                                <img src="/uploads/<%= orderDetails.productId.image[0] %>" alt="Product Image" class="img-fluid">
                                                            </div>
                                                            
                                                            <div class="col-md-4">
                                                                <h6>Address</h6>
                                                                <p><%= order.orderUserDetails.name %>&nbsp;<%= order.orderUserDetails.phone %></p>
                                                                <p><%= order.orderUserDetails.email %>&nbsp;<%= order.orderUserDetails.pincode %></p>
                                                                <p></p>
                                                                <p><%= order.orderUserDetails.city %>&nbsp;<%= order.orderUserDetails.state %></p>
                                                                <p></p>
                                                            </div>
                                                        
                                                            <div class="col-md-4">
                                                                <h6>Order Date</h6>
                                                                <!-- <p><%= order.orderDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', date: 'numeric', hour: 'numeric' }) %></p> -->
                                                                <p><%= order.orderDate.toDateString() %></p>
                                                                <% console.log(order.orderDate); %>
                                                                
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h6>Order Id :  <%= order._id %></h6>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h6>Product Name</h6>

                                                                <p><%= orderDetails.productId?.name %></p>
                                                            </div>
                                                        
                                                            <div class="col-md-4">
                                                                <h6>Quantity</h6>
                                                                <p><%= aa.products[0].quantity %></p>
                                                            </div>
                                                          
                                                            <div class="col-md-2">
                                                                <h6>Price</h6>
                                                                <p><%= aa.products[0].price %></p>
                                                                
                                                            </div>
                                                            <div class="col-md-2">
                                                                <h6>Total Price</h6>
                                                                <p><%= aa.products[0].quantity*aa.products[0].price %></p>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                        <div class="row " style="display: flex; align-items: center;">
                                                            <h6 style="margin-right: 10px;">Offer Applied</h6>
                                                            <p><%= ((orderDetails.productId.price * orderDetails.productId.offerApplied)/100) *aa.products[0].quantity %></p>
                                                        </div>
                                                        <div class="row">
                                                        <div class="col-4 d-flex ">
                                                            <h6>Status</h6>
                                                            
                                                            <button class="btn btn-primary  rounded "><%= order.status %></button>
                                                        </div>
                                                        <div class="col-4 ">
                                                            <% if(order.status=== 'Payment Failed'){ %>
                                                                <button class="btn btn-dark " id="failedPay">Pay Now</button>
                                                            <% } %>
                                                        </div>
                                                        <div class="col-4 ">
                                                            <div class="col-md-12  text-center">
                                                               
                                                            <a class="btn btn-outline-primary rounded " href="/invoice/<%= order._id %>,<%= aa.products[0].productId._id %>">Invoice</a>

                                                            </div>
                                                        </div>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                                aria-labelledby="tab-address-link">
                                                
                                            </div>

                                            <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                                aria-labelledby="tab-wallet-link">
                                                
                                            </div>
                                            
                                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                                aria-labelledby="tab-account-link">
                                                
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/users/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/users/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>

                    </li>

                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            
                            <li><a href="#">FAQs</a></li>
                            <li><a href="*">Error 404</a></li>
                            <li><a href="#">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/dashboard">Profile</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

   

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


        document.addEventListener('DOMContentLoaded', function () {
            const cancelButtons = document.querySelectorAll('.cancel-link');

            cancelButtons.forEach(cancelButton => {
                cancelButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    const orderId = this.dataset.orderId;


                    swal({
                        title: "Are you sure?",
                        text: "Please provide a reason for cancellation:",
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Reason",
                                type: "text",
                            },
                        },
                        buttons: {
                            cancel: "Cancel",
                            confirm: "OK",
                        },
                    }).then((value) => {
                        if (value) {
                            const reason = value;
                            cancelOrder(orderId, reason);
                        }
                    });
                });
            });

            async function cancelOrder(orderId, reason) {
                try {
                    const response = await fetch(`/userOrderCancel/${orderId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ reason }),
                    });

                    if (response.ok) {
                        const refund = await fetch('/processRefund', {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ orderId }),
                        });

                        swal("Order cancelled!", "", "success");
                    } else {
                        swal("Error", "Failed to cancel order", "error");
                    }
                } catch (error) {
                    swal("Error", "Failed to cancel order", "error");
                    console.error('Error cancelling order:', error);
                }
            }

        })



        


        


        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('return-link')) {
                event.preventDefault()

                Swal.fire({
                    title: 'Return Order',
                    html: `
                    <label for="reason">Reason for return:</label>
                    <input type="text" id="reason" class="form-control " required>
                `,
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    cancelButtonText: 'Cancel',
                    preConfirm: () => {
                        const reason = Swal.getPopup().querySelector("#reason").value
                        if (!reason) {
                            Swal.showValidationMessage('Please enter a reason for return ')
                        }
                        return { reason: reason.trim() }
                    }

                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log('result.isConfirmed')
                        const orderId = event.target.getAttribute('data-order-id')
                        console.log(orderId, 'result.isConfirmed');
                        const reason = result.value.reason
                        console.log(reason, 'reason result.isConfirmed');
                        return fetch(`/returnOrder/${orderId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ reason })
                        })
                    }
                }).then((response) => {
                    console.log(response, 'response');
                    if (response.ok) {
                        Swal.fire('Order returned', 'Your return request has been submitted.', 'success')
                    } else {
                        Swal.fire('Error', 'Failed to submit return request. Please try again later.', 'error');
                    }
                }).catch((error) => {
                    console.error('Error submitting return request', error);
                    Swal.fire('Error', 'Failed to submit return request. Please try again later.', 'error');
                })
            }
        })



    </script>


    <script>
        const totalAmount=<%= order.totalAmount %> ;
        const orderIdd= '<%= order._id %>';
        console.log(totalAmount,'toatlfdfd');
        const failedPay=document.getElementById('failedPay')
        failedPay.addEventListener('click',async()=>{
            const response = await fetch('/createOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ totalAmount})
                    });

                    if (response.ok) {
                        console.log(response, 'response');
                        const data = await response.json();
                        console.log(data, 'data in razorpay');

                        const orderId = data.orderId;
                        console.log(orderId, 'orderId in razorpay');
                        const options = {
                            key: '<%= process.env.RAZORPAYKEYID %>',
                            amount: totalAmount * 100,
                            currency: 'INR',
                            name: 'Molla',
                            description: 'Payment for Order',
                            order_id: orderId,
                            handler: function (response) {
                               
                                console.log(response);
                                axios.post(`/orderDetails/rePay/${orderIdd}`)
                                .then((res)=>{
                                    console.log(res.data);
                                    window.location.href = '/dashboard';
                                })
                            },
                            prefill: {
                                name: 'Customer Name',
                                email: 'customer@example.com',
                                contact: '+919876543210'
                            },
                            notes: {
                                address: 'Customer Address'
                            },
                            theme: {
                                color: '#F37254'
                            }
                        };

                        const rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed',async function (response){
                            try {
                                console.log('Payment failed for order:');
                                
                                window.location.href='/dashboard'
                        } catch (error) {
                            console.error('Error handling payment failure:', error);
                            
                            res.status(500).send('Internal Server Error');
                        }
                        });
                        rzp1.open();
                    } else {
                        throw new Error('Failed to create Razorpay order');
                    }
        })
        
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Plugins JS File -->
    <script src="/users/assets/js/jquery.min.js"></script>
    <script src="/users/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/users/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/users/assets/js/jquery.waypoints.min.js"></script>
    <script src="/users/assets/js/superfish.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/users/assets/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>




</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>